doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-inverse
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/catalog')
            span.glyphicon.glyphicon-book(aria-hidden='true')
            | &nbsp;&nbsp;Library
        p.navbar-text#top-banner And ye shall know the truth, and the truth shall make you free.
        p.navbar-text.navbar-right#navbar-account
          a.navbar-link(href='/users/login') Sign in
    block center-content
