#sidebar-list {
  /*margin-top: 20px;*/
  padding: 0;
  list-style: none;
}

#main-content {
  margin-top: 0;
}

#top-banner {
  font-style:italic;
}

.user-register {
  width: 300px;
}

#user-form-block {
  display: block;
  text-align: center;
}

#user-register-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#logout-msg {
  text-align: center;
}

#user-info-box,
#user-error-box{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 400px;
}

#register-title {
  text-align: center;
}

#user-submit-button {
  float: right;
}